<div class="flex">
    <%= render 'shared/left_column' %>
    <div class="w-6/12">
        <div class="mx-auto my-0 w-10/12">
            <div class="w-full">
                <div class="flex mt-1.5">
                    <div>
                        <!--Todo: 直下画像src変更する。画像保存先を決定していないので、保存先を決定出来次第変更する-->
                        <img class="h-28 w-28" src="data:image/png;base64, {{ user_image }}">
                    </div>
                    <div class="ml-1.5 w-96 break-all">
                        <div class="text-right">
                            <!--{% if is_current_user_equal_profile_user == True %}-->
                            <!--Todo: 表示しているプロフィールがオーナーかどうかの判定をつける-->
                            <%= link_to 'プロフィールを編集する', edit_user_url %>
                            <!--{% endif %}-->
                        </div>
                        <div>
                            <span class="text-3xl font-bold">
                                <%= @user.name %>
                            </span>
                        </div>
                        <div>
                            <span>
                                @<%= @user.id %>
                            </span>
                        </div>
                        <div class="flex w-96 break-all">
                            <span>
                                <%= @user.self_introduction %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <%= render 'shared/passage_cards' %>
        </div>
    </div>
</div>