<% @passages.zip(@passages_bookmarks) do |passage, passage_bookmarks|%>
<div class="bg-blue-100 rounded-lg mt-2.5 mb-2.5">
  <div class="m-auto py-4">
    <div class="break-all ml-auto mr-auto w-96">
      <p><%= passage.content %></p>
    </div>
  </div>
  <div class="break-all m-auto w-96">
    <span><i class="fas fa-book-open mr-1.5"></i><%= passage.book_title %></span>
  </div>
  <div class="flex m-auto w-96">
    <span class="border-b border-black w-96 my-1.5"></span>
  </div>
  <div class="flex m-auto pb-1.5 w-96 break-all">
    <div class="w-5/12">
      <%= link_to passage.user_name, user_path(passage.user_id), class: "hover:text-gray-50" %>
    </div>
    <div class="flex w-3/12">
      <%= link_to "users/test_user_1/passages/#{passage.id}/bookmarks/check", method: :post do %>
      <i class="far fa-heart mr-1.5"></i>
      <% end %>
      <a class="hover:text-gray-50"
        href="/post/{{ passage_information.PostIDs.post_id }}/likes"><%= passage_bookmarks %></a>
      <!--<a class="hover:text-gray-50"
              href="/post/{{ passage_information.PostIDs.post_id }}/likes">{{ passage_like_sum }}</a>-->
    </div>
    <div class="w-2/12">
      <%= link_to 'コメント', user_passage_path(user_id: passage.user_id, id: passage.id), class: 'hover:text-gray-50' %>
    </div>
    <div class="text-right w-2/12">
      <!--Todo: ユーザーの確認を行う-->
      <!--{% if passage_information.Passages.user_id == current_user_id %}-->
      <%= link_to user_passage_path(user_id: "test_user_1", id: passage.id), method: :delete do %>
      <i class="fas fa-trash"></i>
      <% end %>
      <!--{% endif %}-->
    </div>
  </div>
</div>
<% end %>