<div class="flex">
  <%= render 'shared/left_column' %>
  <div class="w-6/12">
    <div class="mx-auto my-0 w-10/12">
      <div class="bg-blue-100 rounded-lg mt-2.5 mb-2.5">
        <div class="m-auto py-4">
          <div class="break-all ml-auto mr-auto w-96">
            <p><%= @passage.content %></p>
          </div>
        </div>
        <div class="break-all m-auto w-96">
          <span><i class="fas fa-book-open mr-1.5"></i><%= @passage.book_title %></span>
        </div>
        <div class="flex m-auto w-96">
          <span class="border-b border-black w-96 my-1.5"></span>
        </div>
        <div class="flex m-auto pb-1.5 w-96 break-all">
          <div class="w-5/12">
            <%= link_to @passage.user_name, user_path(@passage.user_id) %>
          </div>
          <div class="flex w-3/12">
            <% if logged_in? %>
            <%= link_to user_passage_bookmarks_check_path(user_id: current_user.id, passage_id: @passage.id), method: :post do %>
            <i class="far fa-bookmark mr-1.5"></i>
            <% end %>
            <% else %>
            <i class="far fa-bookmark mr-1.5"></i>
            <% end %>
            <%= link_to @passage_bookmarks, controller: "bookmarks", action: "show_passage_bookmarks", user_id: @passage.user_id, passage_id: @passage.id%>
          </div>
          <% if @passage.user_id == current_user.id %>
          <div class="text-right ml-auto w-2/12">
            <%= link_to user_passage_path(user_id: current_user.id, id: @passage.id), method: :delete do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>


      <div class="my-1.5">
        <% @comments.each do |comment| %>
        <div class="bg-blue-100 rounded-lg mt-2.5 mb-2.5">
          <div class="m-auto py-4">
            <div class="break-all ml-auto mr-auto w-96">
              <p><%= comment.content %></p>
            </div>
          </div>
          <div class="flex m-auto w-96">
            <span class="border-b border-black w-96 my-1.5"></span>
          </div>
          <div class="flex m-auto pb-1.5 w-96 break-all">
            <div class="w-5/12">
              <%= link_to comment.user_name, user_path(comment.user_id), class: "hover:text-gray-400" %>
            </div>
            <div class="flex w-3/12">
              <% if logged_in? %>
              <%= link_to user_comment_likes_check_path(user_id: current_user.id, comment_id: comment.id), method: :post do %>
              <i class="far fa-heart m-r-5"></i>
              <% end %>
              <% else %>
              <i class="far fa-heart m-r-5"></i>
              <% end %>
              <%= link_to @comments_likes[comment.id.to_i], controller: "likes", action: "show_comment_likes", user_id: comment.user_id, comment_id: comment.id %>
            </div>
            <div class="w-2/12">
              <%= link_to 'コメント', user_comment_path(user_id: comment.user_id, id: comment.id), class: "hover:text-gray-400"%>
            </div>
            <% if comment.user_id == current_user.id %>
            <div class="text-right w-2/12">
              <%= link_to user_comment_path(user_id: comment.user_id, id: comment.id), method: :delete do %>
              <i class="fas fa-trash"></i>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/comment_form' %>
</div>